<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>താമരശ്ശേരി വാര്‍ത്തകള്‍</title>
    {% load static %}
    <link rel="shortcut icon" href='{% static "image/icon.png" %}'>
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/login.css" %}'>
</head>
<body style="background-image: url(/static/images/background-3.jpg)">
    <div id="mySidenav" class="sidenav" style="background-image: url(/static/images/background-3.jpg)">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/writer/edit_corner/"><i class="fas fa-home"></i> Home</a>
{#        <a href="/writer/view_profile/"><i class="fas fa-id-badge"></i> View Profile</a>#}
        <a href="/writer/my_record/"><i class="fas fa-book"></i> My Records</a>
        {% if usertype.user_type == "admin" %}
        <a href="/writer/all_members/"><i class="fas fa-registered"></i> All Members</a>
        <a href="/writer/pending_members/"><i class="fas fa-table"></i> Pending Members</a>
{#        <a href="/writer/whatsapp_link/"><i class="fas fa-link"></i> Whatsapp Link</a>#}
        <a href="/writer/spl_img/"><i class="fas fa-gift"></i> Special Day Wishes</a>
        <a href="/writer/edit_about/"><i class="fas fa-edit"></i> Edit About</a>
        {% endif %}
        <a href="/writer/adv_page/"><i class="fas fa-user"></i>Post Advertisement</a>
        <a href="/writer/ad_view/"><i class="fas fa-user"></i>View Advertisement</a>
        <a href="/writer/logout/"><i class="fas fa-sign-out-alt"></i> Logout</a>
      </div>
      <span style="font-size:30px;cursor:pointer;color: white;" onclick="openNav()">&#9776;</span>
    <div class="container_tbl" >

            <h1 class="logo_name">
                താമരശ്ശേരി വാര്‍ത്തകള്‍
            </h1>
            <br class="mobile_view">

                <table  class="table ">
                    <thead ><b> <p style="font-size:30px; text-align: center; color: white" >Advetisements</p> </b></thead>
                    <th style="display: none">id</th>
                    <th>Date of Publish</th>
                    <th colspan="4">Image</th>
                    <th id="head">Headding</th>
                    <th>Remove</th>

                    {% for r in ads %}

                    <tr>
                        <td id="id_content" style="display: none">{{ r.pk }}</td>
                        <td>{{ r.date_of_publish }}</td>
                        <td colspan="4" height="70px"><img src="{{ r.adv_images.url }}" style="width: 100%;height: 100%;"></td>
                        <td>{{ r.adv_content }}</td>
                        <td style="text-align: center">
                            <a href="/writer/ad_remove/{{ r.pk }}/" ><input type="button"  value="Remove"></a>
                        </td>
                    </tr>
                    {% endfor %}

                </table>


    </div>



    <script src='{% static "js/bootstrap.min.js" %}'></script>
    <script src='{% static "js/jquery.min.js" %}'>
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src='{% static "js/side_nav.js" %}'></script>



</body>
</html>